
    <div class="col-md-10 offset-1">
        <div style="text-align: center;">
    <div class="row">
        <h1  style="margin-left: 30%;">You are visiting my page?!!</h1>
    </div>
    <div class="row">
        <h2 style="margin-left: 46.5%;">Aww!!</h2></div>
        <div class="row">
        <div style="margin-left: 41%;"><img src="../../assets/aww2.png" alt="an image" height="200px" width="200px"></div>
    </div>
    <div class="row">
        <h3>So, how do you want to proceed ? sign in if you are already a user (or) sign up for registration,for any of that click the button below</h3>
        <div style="margin-left: 47.5%;"></div>
        <button class="btn btn-primary" style="text-align: center;" (click)="login()" name="login">login</button>
    </div>
    <div class="row">
        <h3>or if you are lazy like me! to do any of that you can just simply visit the page to watch the content, click the button below</h3>
        <div style="margin-left: 45%;"><button class="btn btn-primary" (click)="dashboard()" name="visit">visit the page</button></div>
    </div></div>
</div>